

<div class="wrapper default-theme">
    <main>
        <div class="row" style="width: 100%">
            <div class="col-md-3">
                <app-adminsidebar></app-adminsidebar>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-8" style="margin-top: 0">
                      <div class="row" id="top">
                        <div class="col-md-12 mx-auto ">
                          <span class="anchor" id="formLogin" ></span>
                          <div class="card rounded-0 " >
                            <div class="card-header" >
                              <h3 class="mb-0">Add Laptops</h3>
                            </div>
                            <div class="card-body ">
                                <form #productForm="ngForm" (ngSubmit)="onSubmit(productForm)">
                                  <div class="alert alert-danger" *ngIf="error != 0">
                                    <strong>Error!</strong> {{error}}
                                  </div>
                                  <div class="form-group">
                                    <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="productService.selectedProduct._id"  class="form-control rounded-0" >
                                  </div>
                                      <div class="form-group">
                                        <label for="">Name</label>
                                        <input type="text" class="form-control" name="name" #name="ngModel" [(ngModel)]="productService.selectedProduct.name" placeholder="Name">
                                      </div>
                                      <div class="form-group">
                                        <label for="">URL</label>
                                        <input type="text" class="form-control" name="URL" #name="ngModel" [(ngModel)]="productService.selectedProduct.URL" placeholder="URL">
                                      </div>
                                      <div class="form-row">
                                        <div class="form-group col-md-3">
                                          <label for="">Cost</label>
                                          <input currencyMask [options]="{ align: 'left', prefix: '₹', thousands: ',', decimal: '.' }" type="text" class="form-control" name="Cost" #name="ngModel" [(ngModel)]="productService.selectedProduct.Cost" placeholder="Cost">
                                        </div>
                                        <div class="form-group col-md-3">
                                          <label for="">Number of Item</label>
                                          <input type="text" class="form-control" name="Number_Item" #name="ngModel" [(ngModel)]="productService.selectedProduct.Number_Item" placeholder="Number of Item">
                                        </div>
                                        <div class="form-group col-md-3">
                                          <label for="">Discount</label>
                                          <input type="text" class="form-control" name="Discount" #name="ngModel" [(ngModel)]="productService.selectedProduct.Discount" placeholder="Discount">
                                        </div>
                                        <div class="form-group col-md-3">
                                          <label for="">Brand</label>
                                          <input type="text" class="form-control" name="Brand" #name="ngModel" [(ngModel)]="productService.selectedProduct.Brand" placeholder="Brand">
                                        </div>
                                      </div>
                                      <h3 class="mb-0">General</h3> <br>
                                    <div class="form-group">
                                      <label for="inputAddress">Sales Package</label>
                                      <input type="text" class="form-control" name="Sales_Package" #name="ngModel" [(ngModel)]="productService.selectedProduct.Sales_Package" placeholder="Sales_Package">
                                    </div>
                                    <div class="form-row">
                                      <div class="form-group col-md-4">
                                        <label for="">Model Number</label>
                                        <input type="text" class="form-control" name="Model_Number" #name="ngModel" [(ngModel)]="productService.selectedProduct.Model_Number" placeholder="Model_Number">
                                      </div>
                                      <div class="form-group col-md-4">
                                        <label for="">HDD Capacity</label>
                                        <input type="text" class="form-control" name="HDD_Capacity" #name="ngModel" [(ngModel)]="productService.selectedProduct.HDD_Capacity" placeholder="HDD_Capacity">
                                      </div>
                                      <div class="form-group col-md-4">
                                        <label for="">Series</label>
                                        <input type="text" class="form-control" name="Series" #name="ngModel" [(ngModel)]="productService.selectedProduct.Series" placeholder="Series">
                                      </div>
                                    </div>
                                    <div class="form-row">
                                      <div class="form-group col-md-4">
                                        <label for="">Color</label>
                                        <input type="text" class="form-control" name="Color" #name="ngModel" [(ngModel)]="productService.selectedProduct.Color" placeholder="Color">
                                      </div>
                                      <div class="form-group col-md-4">
                                        <label for="">Type</label>
                                        <input type="text" class="form-control" name="Type" #name="ngModel" [(ngModel)]="productService.selectedProduct.Type" placeholder="Type">
                                      </div>
                                      <div class="form-group col-md-4">
                                        <label for="">RAM</label>
                                        <input type="text" class="form-control" name="RAM" #name="ngModel" [(ngModel)]="productService.selectedProduct.RAM" placeholder="RAM">
                                      </div>
                                    </div>
                                    <div class="form-row">
                                      <div class="form-group col-md-4">
                                        <label for="">Battery Backup</label>
                                        <input type="text" class="form-control" name="Battery_Backup" #name="ngModel" [(ngModel)]="productService.selectedProduct.Battery_Backup" placeholder="Battery_Backup">
                                      </div>
                                      <div class="form-group col-md-4">
                                        <label for="">Processor_Generation</label>
                                        <input type="text" class="form-control" name="Processor_Generation" #name="ngModel" [(ngModel)]="productService.selectedProduct.Processor_Generation" placeholder="Processor_Generation">
                                      </div>
                                      <div class="form-group col-md-4">
                                        <label for="">Processor_Name</label>
                                        <input type="text" class="form-control" name="Processor_Name" #name="ngModel" [(ngModel)]="productService.selectedProduct.Processor_Name" placeholder="Processor_Name">
                                      </div>
                                    </div>
                                    <button type="submit"  class="btn btn-primary">Add</button>
                                    <button type="button" (click)="resetForm(productForm)" class="btn btn-primary">Reset</button>
                                  </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="input-group mb-4 border rounded-pill p-1">
                        <input type="search" [(ngModel)]="product" placeholder="What're you searching for?" aria-describedby="button-addon4" class="form-control bg-none border-0" >
                      </div>
                      <div style='overflow-x:scroll;height:43rem;'>
                        <div class="row" >
                          <div class="col-lg-12 mx-auto" *ngFor="let product of productService.product |filter:product">
                            <ul class="list-group shadow">
                              <li class="list-group-item">
                                <div class="media align-items-lg-center flex-column flex-lg-row">
                                  <div class="media-body order-2 order-lg-1" style="width: 100%">
                                    <h5 class="mt-0 font-weight-bold mb-2">{{product.Model_Number}}</h5>
                                    <p class="font-italic text-muted mb-0 small">{{product.name}}</p>
                                    <div class="d-flex align-items-center justify-content-between mt-1">
                                    </div>
                                    <a (click)="onEdit(product)"  style="font-size: 10px" class="btn btn-primary">Edit</a>
                                    <a (click)="onDelete(product._id, productForm)" style="font-size: 10px" class="btn btn-danger">Delete</a>
                                  </div>
                                </div>
                              </li>
                            </ul>
                          </div>
                        </div>
                        </div>
                      </div>
                    </div>
            </div>
        </div>
    </main>
</div>   
            
