
<!--Carousel Wrapper-->
<div class="row" style="width: 100%; margin: 10px 0">
    <div class="col-md-6">
        <div class="card mb-2 position-fixed">
            <img class="card-img-top"
                src="https://images-na.ssl-images-amazon.com/images/I/61dWWYvyUFL._SX466_.jpg"
                alt="Card image cap" (click)="onClick(product)" style="cursor: pointer">
            <div class="card-body">
                <h4 class="card-title" currencyMask>₹{{product.Cost}}</h4>
                <!-- <h4 class="card-title" currencyMask>₹{{product.Cost}}</h4> -->
                <!-- <h4 class="card-title">{{product.Discount}}%</h4> -->
                <p class="card-text">{{product.name}}</p>
                <a class="btn btn-primary" (click)="addToCart(product._id)" routerLinkActive="active">Add to Cart</a>
            </div>
        </div>
    </div>
  <!--/.Carousel Wrapper-->
  <div class="col-md-6">
      <span style="font-weight: 900">{{product.name}}</span>
  <table class="table table-striped">
      
    <thead>
      <tr>
        <th scope="col">First</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Brand</td>
        <td>{{product.Brand}}</td>
      </tr>
      <tr>
        <td>Model_Number</td>
        <td>{{product.Model_Number}}</td>
      </tr>
      <tr>
        <td>Sales_Package</td>
        <td>{{product.Sales_Package}}</td>
      </tr>
      <tr>
        <td>Model_Number</td>
        <td>{{product.Model_Number}}</td>
      </tr>
      <tr>
        <td>Part_Number</td>
        <td>{{product.Part_Number}}</td>
      </tr>
      <tr>
        <td>Series</td>
        <td>{{product.Series}}</td>
      </tr>
      <tr>
        <td>Color</td>
        <td>{{product.Color}}</td>
      </tr>
      <tr>
        <td>Type</td>
        <td>{{product.Type}}</td>
      </tr>
      <tr>
        <td>Suitable_For</td>
        <td>{{product.Suitable_For}}</td>
      </tr>
      <tr>
        <td>Battery_Backup</td>
        <td>{{product.Battery_Backup}}</td>
      </tr>
      <tr>
        <td>Battery_Cell</td>
        <td>{{product.Battery_Cell}}</td>
      </tr>
      <tr>
        <td>MS_Office_Provided</td>
        <td>{{product.MS_Office_Provided}}</td>
      </tr>
      <tr>
        <td>Processor_Brand</td>
        <td>{{product.Processor_Brand}}</td>
      </tr>
      <tr>
        <td>Processor_Name</td>
        <td>{{product.Processor_Name}}</td>
      </tr>
      <tr>
        <td>Processor_Generation</td>
        <td>{{product.Processor_Generation}}</td>
      </tr>
      <tr>
        <td>SSD</td>
        <td>{{product.SSD}}</td>
      </tr>
      <tr>
        <td>RAM</td>
        <td>{{product.RAM}}</td>
      </tr>
      <tr>
        <td>RAM_Type</td>
        <td>{{product.RAM_Type}}</td>
      </tr>
      <tr>
        <td>HDD_Capacity</td>
        <td>{{product.HDD_Capacity}}</td>
      </tr>
      <tr>
        <td>Processor_Variant</td>
        <td>{{product.Processor_Variant}}</td>
      </tr>
      <tr>
        <td>Clock_Speed</td>
        <td>{{product.Clock_Speed}}</td>
      </tr>
      <tr>
        <td>Expandable_Memory</td>
        <td>{{product.Expandable_Memory}}</td>
      </tr>
      <tr>
        <td>RAM_Frequency</td>
        <td>{{product.RAM_Frequency}}</td>
      </tr>
      <tr>
        <td>Cache</td>
        <td>{{product.Cache}}</td>
      </tr>
      <tr>
        <td>RPM</td>
        <td>{{product.RPM}}</td>
      </tr>
      <tr>
        <td>Graphic_Processor</td>
        <td>{{product.Graphic_Processor}}</td>
      </tr>
      <tr>
        <td>Number_of_Cores</td>
        <td>{{product.Number_of_Cores}}</td>
      </tr>
      <tr>
        <td>OS_Architecture</td>
        <td>{{product.OS_Architecture}}</td>
      </tr>
      <tr>
        <td>Operating_System</td>
        <td>{{product.Operating_System}}</td>
      </tr>
      <tr>
        <td>Mic_In</td>
        <td>{{product.Mic_In}}</td>
      </tr>
      <tr>
        <td>RJ45</td>
        <td>{{product.RJ45}}</td>
      </tr>
      <tr>
        <td>USB_Port</td>
        <td>{{product.USB_Port}}</td>
      </tr>
    </tbody>
  </table>
</div>
</div>