<div class="row" style="width: 100%; margin: 10px 0">
    <div class="col-sm-6 col-md-3" *ngFor="let cart of cart">
        <div class="card mb-2">
            <img class="card-img-top"
                src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg"
                alt="Card image cap" (click)="onClick(product)" style="cursor: pointer">
            <div class="card-body">
                <h4 class="card-title" currencyMask>₹{{cart.Cost}}</h4>
                <p class="card-text">{{cart.name}}</p>
                <a class="btn btn-primary" (click)="addToCart(product._id)" routerLinkActive="active">Add to Cart</a>
            </div>
        </div>
    </div>
</div>