<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark orange lighten-1">
  <a class="navbar-brand" href="#">E-kart</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
    aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-333">      
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item">
        <div class="md-form my-0">
          <input class="form-control mr-sm-2" type="text" style="width: 400px" placeholder="Search" aria-label="Search">
        </div>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item">
        <a class="nav-link" data-toggle="modal" data-target="#modalLoginForm" href="" *ngIf="!_auth.loggedIn()">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="_auth.loggedIn()" style="font-weight: 900">Welcome <span style="font-weight: 900; color: rgb(4, 1, 173)"> {{user}}</span></a>
      </li>
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user"> </i>
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-default"
          aria-labelledby="navbarDropdownMenuLink-333" *ngIf="!_auth.loggedIn()">
          <a class="dropdown-item" href="#">Signin</a>
          <a class="dropdown-item" href="#">SignUp</a>
        </div>
        <div class="dropdown-menu dropdown-menu-right dropdown-default"
          aria-labelledby="navbarDropdownMenuLink-333" *ngIf="_auth.loggedIn()">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#" (click)="_auth.logoutUser()">Logout</a>
        </div>
      </li> 
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light" routerLink="/cart" >
           <!-- <span style="font-weight: 900; color: rgb(4, 1, 173)" *ngIf="_auth.loggedIn()">{{cartLen}}</span> <i class="fa fa-shopping-cart" style="font-size: 23px"></i> -->
           <mat-icon matBadge="{{cartLen}}" *ngIf="_auth.loggedIn()">shopping_cart</mat-icon>
        </a>
      </li>
      
    </ul>
  </div>
</nav>
<!--/.Navbar -->
<app-login></app-login>
